<section class="container bg-dark rounded-5 mt-5 p-5">



  <section *ngIf="Response" class="alert alert-danger m-3">
    <p>{{Error}}</p>
  </section>

  <form (ngSubmit)="SumbitLogInForm(LogInForm)" [formGroup]="LogInForm">

   <section class="m-3">
    <label for="E-mail" class="text-white">E-mail : </label>
    <input formControlName="email" type="email" name="E-mail" id="E-mail" class="form-control">
   </section>
   <section *ngIf="LogInForm.get('email')?.errors && LogInForm.get('email')?.touched" class="alert alert-danger m-3">
    <p *ngIf="LogInForm.get('email')?.getError('required')">E-mail is required</p>
    <p *ngIf="LogInForm.get('email')?.getError('email')">E-mail is incorrect</p>
  </section>




    <section class="m-3">
      <label for="Password" class="text-white">Password : </label>
    <input formControlName="password" type="password" name="Password" id="Password" class="form-control">
    </section>
    <section *ngIf="LogInForm.get('password')?.errors && LogInForm.get('password')?.touched" class="alert alert-danger m-3">
      <p *ngIf="LogInForm.get('password')?.getError('required')">password is required</p>
      <p *ngIf="LogInForm.get('password')?.getError('minlength')">
        The actual length is : {{LogInForm.get('password')?.getError('minlength')['actualLength']}} <br/>
        The required length is : {{LogInForm.get('password')?.getError('minlength')['requiredLength']}}
      </p>
      <p *ngIf="LogInForm.get('password')?.getError('maxlength')">
        The actual length is : {{LogInForm.get('password')?.getError('maxlength')['actualLength']}} <br/>
        The required length is : {{LogInForm.get('password')?.getError('maxlength')['requiredLength']}}
      </p>
    </section>




    <section class="m-3">
      <button type="submit" class="btn btn-outline-dark rounded-5" [disabled]="LogInForm.invalid">
        <span *ngIf="!Loading" class="me-1">Sumbit</span>
        <i *ngIf="Loading" class="fas fa-spinner fa-spin"></i>
      </button>
    </section>
  </form>
</section>
